.shaded_dark {
  background: #000;
  color: #ffffff;
}
.shaded_light {
  background-color: #dddddd;
}
.bordered {
  border-width: 0.2em;
  border-style: ridge;
  border-color: #000000;
}
.bordered:hover{
  border-color: #ffffff;
}
/*------NAV BAR-----*/
#navBar ul{
  overflow: hidden;
}
#navBar li{
    display: inline;
}
#navBar a{
    margin-left:1em;
    float:left;
    color: #ffffff; 
}
#navBar a:hover{
  text-decoration: none;
  color: #cccccc;
}


/*-----CONTENT------*/
.article {
    width: 80%;
    float: right;
}

.sidebar {
    width: 20%;
    float: left;
}

.sidebar ul{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.sidebar button{
    display: block;
    font-size: 1.5em;
    width: 100%;
    margin-top: 0.2em;
}

/*------FOOTER------*/
 .sidebar__chickletsa{
  color: white;
  padding-left: 4em;
 }
.sidebar__chicklets a img{
  width:2em;
  height:2em;
  display: inline;
}


