/* sharethis */
.stpulldown-gradient{
  background: #E1E1E1;
  background: -moz-linear-gradient(top, #E1E1E1 0%, #A7A7A7 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E1E1E1), color-stop(100%,#A7A7A7)); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E1E1E1', endColorstr='#A7A7A7',GradientType=0 ); 
  background: -o-linear-gradient(top, #E1E1E1 0%,#A7A7A7 100%); 
  color: #636363;
}
#stpulldown .stpulldown-logo{
  height: 40px;
  width: 300px;
  margin-left: 20px;
  margin-top: 5px;
  background:url("../img/macpeters_logo.png") no-repeat;
}

/*---Media Card--*/
.mediaCard{
  display: inline-block;
}
.mediaCard img{
  max-height:150px;
  max-width:150px;
}
.mediaCard .mediaHeading{
  font-weight: bold;
  font-size: 1.5em;
}

/*-----BLOG-------*/
.embedFrame{
  width: 100%;
  height: auto;
}


/*----TEXT CONTENT----*/
.workName{
  padding-left: 2em;
}
.mainHeading{
  font-size: 2em;
  font-weight: bold;
  display: block;
}
.subHeading{
  font-weight: bold;
  padding: 0.5em;
}
.bulletList{
  text-align: left;
}
.bulletList li{
  list-style: circle;
}


/*----ART CONTENT-----*/
.galleryList{
  padding: 1em;
  padding-left: 4em;
}
.galleryList img{
  width: 5em;
  height: 5em;
}
#artist_statement{
  width: 80%;
  padding: 40px;
}
.shopItem{
  display: inline-block;
}
.shopImage {
  max-height:150px;
  max-width:150px;
}

/*----DEV CONTENT----*/
#demoReel{
  text-align: center;
}
