/* app css stylesheet */
@@ -21,3 +21,59 @@ body{
	padding-top:20em;
	background-color: #000000;
}
a{
	text-decoration: none;
}

h1{
	margin:20%;
	text-align: center;
}
li{
	list-style: none;
}
img{
	height:50%;
	width:50%;
	background-color: #000000;
	padding: 0.2em;
	margin: 0.2em;
}
img:hover{
	background-color: #00ffff;
}
.content{
	width: 100%;
}
.thumb{
	float:left;
	height:3.2em;
	width: 3.2em;
}
.mainHeading{
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	display: block;
	width: 35%;
	margin-top: 1em;
	padding: 0.5em;
	background-color: #aaaaaa;
}
.subHeading{
	width: 65%;
	font-weight: bold;
	text-align: left;
	padding: 0.5em;
	background-color: #cccccc;
}
.bulletList{
	width: 65%;
	text-align: left;
}
.bulletList li{
	list-style: circle;
}

.summary{
	text-align: center;
}

/*------NAV BAR-----*/
#navBar{
	background: #000;
}

.buttonRow{
	width:100%;
}
.button {
	margin-left:1em;
	float:left;
	display: inline;
}
.button:hover{
	color: #bbbbff;
	text-decoration: none
}

.imageLink{
	border-style: ridge;
	border-color: #000000;
}
 #subNavBar{
 	margin-left: 30%;
 	padding: 3em;
 }


/**-----RESUME-----**/
.workName{
	padding-left: 2em;
}
.resumeContent{
	color: #000000;
}

/****BLOG******/
#blogFrame{
	margin-left:10em;
	width:80em;
}

/****SOCIAL******/
 #chicklets{
 	text-align: center;
 	color: white;
 	padding-left: 4em;
 	background: #000;
 }
.socialButton{
	width:32px;
	height:32px;
	border-width: 0.1em;
	border-style: ridge;
	border-color: #000000;
}
.socialButton:hover{
	border-color: #ffffff;
}

/****PROGRAMMING***/
#demoReel{
	text-align: center;
}
#projects{
	padding: 4em;
}
.homeImage{
	width: 20em;
	height: 15em;
	background: #fff
}
.homeImage:hover{
	background-color: #FFF;
}



/**-----ART LIST----->**/
#galleryList{
	padding: 1em;
	padding-left: 4em;
	background: #888888;
}
.galleryThumb{
	width: 64px;
	height: 64px;
}
.gallery{
	width: 100%;
	display:inline;
	float: left;
	background: #444444;
	padding-left: 4em;
}

#showImageDiv{
	width: 80%;
	padding: 4em;
	max-width: 80%;
}
.showImg{
	display: inline-block;
	max-width:90%;
	max-height:450px;
	width: auto;
	height: auto;
	border-style: ridge;
	border-width: 0.2em;
	border-color: #000000;
}
#artist_statement{
	width: 80%;
	padding: 40px;
}
.shopItem{
	display: inline-block;
}
.shopImage {
	max-height:150px;
	max-width:150px;
	
}


/* sharethis */
.stpulldown-gradient{
	background: #E1E1E1;
	background: -moz-linear-gradient(top, #E1E1E1 0%, #A7A7A7 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E1E1E1), color-stop(100%,#A7A7A7)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E1E1E1', endColorstr='#A7A7A7',GradientType=0 ); /* ie */
	background: -o-linear-gradient(top, #E1E1E1 0%,#A7A7A7 100%); /* opera */
	color: #636363;
}

#stpulldown .stpulldown-logo{
	height: 40px;
	width: 300px;
	margin-left: 20px;
	margin-top: 5px;
	background:url("../img/macpeters_logo.png") no-repeat;
}

/* Ravemau5 */
.gameWindow{
	margin: 1em;
}

.changelog{
	padding-left: 1em;
	width: 80%;
}

.change_date{
	background-color: #aaaaaa;
}

#ravemau5Button{
	padding: 0.8em;
	height: 32px;
	width: 32px;
}













