/* Art Galleries */
.art-gallery {
  padding: 20px;
}

/* Featured Image */
.featured-image img {
  max-height: 500px;
  width: auto;
}
.image-title {
  clear: both;
}

/* Thumbnails */
.image-thumb {
  display: inline-block;
}
.thumbnail {
  width: 100px;
  height: 100px;
  padding: 5px;
  border-width: 1px;
  border-color: #fff;
  border-style: solid;
}
@media screen and (max-width: 450px){
  .thumbnail{
    width: 80%;
    height: auto;
  }
}
.thumbnail:hover {
  border-color: #ccc;
}
