/* Art */
.art-gallery {
  padding: 20px;
}
.art-gallery h3 {
  background-color: #ccc;
}
.art-category h4 {
  background-color: #eee;
}
.image-thumb {
  display: inline-block;
}
.thumbnail {
  width: 125px;
  height: 125px;
  padding: 15px;
  border-width: 1px;
  border-color: #fff;
  border-style: solid;
}
@media screen and (max-width: 450px){
  .thumbnail{
    width: 80%;
    height: auto;
  }
}
.thumbnail:hover {
  border-color: #ccc;
}
.image-title {
  clear: both;
  text-align: center;
}
.crafts {
  padding: 15px;
  width: 70%;
  height: auto;
}

/* MODAL */
.modal-body {
  max-height: 80%;
  padding: 15px;
  overflow-y: auto;
}
.square-preview {
  width: 100%;
  height: auto;
}
.imagepreview-title {
  font-weight: bold;
}
