/* Nav */
.shop-buttons {
  text-align: center;
  padding: 10px;
}

/* Selection */
.art-choice {
  width: 100px;
  height: auto;
  display: inline;
  padding: 20px;
}

/* Paypal */
.paypal-button {
  padding-left: 20px;
  margin: 0;
  height: 30px;
}
.paypal-button img{
  height: 1px;
  width: 1px;
}

.view-cart {
  display: block;
  clear: both;
  text-align: center;
  padding-top: 10px;
}

/* Shop Items */
.shop-item {
  overflow:scroll;
}
.shop-banner {
  max-width: 60%;
  float: right;
  border-width: thin;
  border-style: groove;
  border-color: #eeeeee;
}

.shop-header {
  display: block;
  clear: both;
  padding-top: 10px;
}

.description {
  font-size: 18px;
  padding: 10px;
  color: #777;
}
