html, body {
  width: 100%;
  height: 100%;
}

body{
  
  background: #ccc;
}
a{
  text-decoration: none;
}

h1{
  margin:20%;
  text-align: center;
}
li{
  list-style: none;
}
img{
  height:50%;
  width:50%;
  background-color: #000000;
  padding: 0.2em;
  margin: 0.2em;
}