/* Dev */
#demo, #games {
  padding: 15px;
}
#games li {
  list-style: none;
}
.mediaCard {
  padding-left: 15px;
  display: inline-block;
}
.mediaCard img{
  width: 125px;
  height: 125px;
}

.demo-reel {
  width: 560;
  height: 315;
  border: 0;
}

.itch-game {
  width: 552;
  height: 167;
  border: 0;
}
