/* Resume */
.resume-header {
  text-align: center;
  font-weight: bold;
}
.resume-header div {
  padding: 10px;
}
.resume-header img{
  width: 30px;
  height: 30px;
}
.resume-sub-header {
  text-align: left;
  font-weight: bold;
}
.resume-highlights {
  text-align: center;
}
.title {
  font-weight: bold;
  padding-left: 10px;
}
.sub-title{
  font-weight: bold;
  padding: 0.5em;
}
.bulletList{
  text-align: left;
}
.bulletList li{
  list-style: circle;
}
