<div>

	<div id="subNavBar">
		<div class="btn-group">
			<button type="button" class="btn btn-inverse" ng-click="chooseAbout($event, 1)">Artist Statement</button>
			<button type="button" class="btn btn-inverse" ng-click="chooseAbout($event, 2)">Shop</button>
		</div>
	</div>
	<div ng-show="aboutChoice == 1">
		<div ng-include src="'partials/artistStatement.html'"></div>
	</div>

	<div ng-show="aboutChoice == 2">
		<div class="shopItem">
			<a href="http://www.amazon.com/Painted-Sands-Time-Maryanne-Peters/dp/132000217X">
				<img src="img/art_book.jpeg" class="shopImage">
				Painted Sands of Time - Art book for sale on Amazon
			</a>
		</div>
		<div class="shopItem">
			<a href="http://www.artpal.com/macpeters">
				<img src="img/art/uv/alienLotus.png" class="shopImage">
				Art - Paintings for sale on ArtPal	
			</a>
		</div>

	</div>
</div