<div>
	<div class="galleryList">
		<span ng-repeat="gallery in galleries" class="galleryThumb" ng-show="gallery.galleryType == partialChoice">
			<img src="{{gallery.imageUrl}}" ng-click="SelectGallery(gallery)" class="galleryThumb"></img>
		</span>
	</div>

	<div class="summary">
		<div class="gallery">
			<span ng-repeat="item in gallery.collection">
				<img class="galleryThumb" ng-src="{{item.url}}" ng-click="setImage(item)"></img>
			</span>
		</div>
		<div id="showImageDiv">
			<img src={{showImage.url}}></img>
			<h3>{{showImage.title}}</h3>
		</div>		
	</div>

</div>
