<div ng-controller="ArtCtrl">
  <div class="sidebar shaded_light">
      <ul>
          <li><button type="button" class="btn btn-inverse" ng-click="choosePartial($event, 'UV')">UV/Blacklight</button></li>
          <li><button type="button" class="btn btn-inverse" ng-click="choosePartial($event, 'GameSprites')">Game Art</button></li>
          <li><button type="button" class="btn btn-inverse" ng-click="choosePartial($event, 'Traditional')">Traditional Artwork</button></li>
          <li><button type="button" class="btn btn-inverse" ng-click="choosePartial($event, 'Blog')">Blog</button></li>

          <li><button type="button" class="btn btn-inverse" ng-click="choosePartial($event, 'ArtistStatement')">Resume</button></li>
          <li><button type="button" class="btn btn-inverse" ng-click="choosePartial($event, 'Shop')">Shop</button></li>
      </ul>
  </div>

  <div class="article">
    <div ng-show="showGallery()">
      <span class="st_sharethis" st_url="http://www.macpeters.com" st_title="Macpeters UV Artwork"></span>
      <div ng-include src="'partials/art_gallery.html'"></div>
    </div>

    <div ng-show="partialChoice == 'Blog'">
      <div id="blogFrame">   
        <iframe src="http://macpetersart.wordpress.com/" width=100% height="1000" frameborder="0" scrolling="yes"> </iframe> 
      </div>
    </div>

    <div ng-show="partialChoice == 'ArtistStatement'">
      <div ng-include src="'partials/art_resume.html'"></div>
    </div>

    <div ng-show="partialChoice == 'Shop'">
      <div class="mediaCard">
        <a href="http://www.amazon.com/Painted-Sands-Time-Maryanne-Peters/dp/132000217X">
          <img src="img/art_book.jpeg">
            <span class="mediaHeading">Painted Sands of Time</span> Art book for sale on Amazon
        </a>
      </div>
      <div class="mediaCard">
        <a href="http://www.artpal.com/macpeters">
          <img src="img/art/uv/alienLotus.png">
          <span class="mediaHeading">Art</span> Paintings for sale on ArtPal  
        </a>
      </div>
    </div>
  </div>
</div>
