<div id="artist_statement">

<h1><strong>Maryanne Peters</strong></h1>

<center>
  <div class="mainHeading">
    <i class="glyphicon icon-globe" class="glyphs"></i>
    <strong>Artist Statement</strong></div>
  <br />
  <div>
    <ul class="resumeContent">
      <li>I paint and draw predominantly for meditation and healing.  I find when I’m making art that my breathing naturally slows and deepens, and I’m able to relax and free my mind from the endless looping thoughts that create stress.  I hate to use the cliche that I am ‘manifesting creation’, but I really do feel like I am pulling from an endless pool of creation to see what comes out - fishing for novelty and diversity.</li>
      <li>I am inspired by natural and imagined life forms, as well as the concept of sacred geometry as the basic pattern from which all life emerges.  I can begin with the same basic pattern, and have seemingly infinite possible directions.  While I begin with a plan in mind, small choices along the way create an outcome that often surprises even me.</li>
      <li>My art is intended to illicit a sense of harmonious interdependencies between all the various elements, all leading to a common center or origin.  I don’t want any of it to seem too serious, but rather characterized as friendly, inviting, even whimsical</li>
      <li>I paint with acrylic, uv reactive/glow-in-the-dark, generally on raw, unprimed, unstretched canvas which hangs like tapestry, lightweight and unattached.  My latest project leans more toward 3d spaces, rather than just 2d images.  Rather than starting with a quadrilateral, I’ve started with a simple triangle, which I can paint front and back, and in duplicate.  With these I’ll have more flexible, modular pieces which can transform into configurations.</li>

    </ul> 
  </div>

  <br />

  <div class="mainHeading">
    <i class="glyphicon icon-briefcase" class="glyphs"></i>
    <strong>Past Shows and Events</strong>
  </div>
  <br />
  <ul>
    <li>
      <div class="subHeading">Psyberspace: Acid Reign Productions (ARP)
      	<p>Velvet Underground - May 2015</p>
      </div>
    </li>

    <li>
      <div class="subHeading">Body Light: House of Dust
      	<p>Bassline Bar - April 2015</p>
      </div>
    </li>

    <li>
      <div class="subHeading">T Dot Love 7: Future Perfect Synergy
      	<p>Bassline Bar - November 2014</p>
      </div>
    </li>

    <li>
      <div class="subHeading">Paintings on Display
      	<p>Greenroom - September 2011</p>
      </div>
    </li>

    <li>
      <div class="subHeading">Candyland: Conscious Light
      	<p>Zion Lounge - July 2011</p>
      </div>
    </li>

    <li>
      <div class="subHeading">Psychedelic Blacklight AP: Conscious Light
      	<p>Zion Lounge - June 2011</p>
      </div>
    </li>

    <li>
      <div class="subHeading">Art on Display
      	<p>Glass Art Studio - March 2011</p>
      </div>
    </li>

    <li>
      <div class="subHeading">Art Party: SpeakerBox Vision
      	<p>Abyssinia Bar - March 2011</p>
      </div>
    </li>

    <li>
      <div class="subHeading">Art Party: SpeakerBox Vision
      	<p>Abyssinia Bar - January 2011</p>
      </div>
    </li>


    <li>
      <div class="subHeading">Xmas Group Exhibition: Ben Navaee Gallery
      	<p>Ben Navaee Gallery - December 2010</p>
      </div>
    </li>

  <br />
  <br />

</center>
</div>