<div id="demoReel">

  <div>
    <iframe width="560" height="315" src="http://www.youtube.com/embed/1Za-n3DstI0" frameborder="0" allowfullscreen></iframe>
  </div>  

  <center>
    <div>
      <div class="subHeading">Flood Control: XNA</div>
      <div class="bulletList">
        <ul>
          <li>A puzzle game with rotating/falling tiles where the player must create a path within a certain time. </li>
        </ul>
      </div>

      <div class="subHeading">Rock Em Sock Em: XNA</div>
      <div class="bulletList">
        <ul>
          <li>A 3D race - collision with billboarding objects, music, sound effects, and rotating/swivelling wheels.</li>  
          <li>This was made in a team of 3 - I worked on collision detection (collision spheres are visible), billboarding objects, and game state management.</li>
        </ul>
      </div>

      <div class="subHeading">MacGalaga: XNA</div>
      <div class="bulletList">
        <ul>
          <li>A clone of the old game Galaga.  Includes 3 types of enemies each with individual flight paths using waypoints.</li>
          <li>The third enemy takes two hits to die and changes colour after the first.</li>
        </ul> 
      </div>

      <div class="subHeading">The Amazing Techno-colour Jumpdude: Flash AS3</div>
      <div class="bulletList">
        <ul>
          <li>
            A platformer puzzle game where the player has to collect the right color by touching an orb in order to use ladders and doors. 
          </li>
          <li> A 'smart' projectile creeps along until it is in line with the player, at which point it accelerates directly towards the player. </li>
          <li> Made in a team of 2, I wrote the code.</li>
        </ul>
      </div>

      <div class="subHeading">Screw U Bunny: Unity3D</div>
      <div class="bulletList">
        <ul>
          <li>The player must avoid the screws and gears while collecting the diskette 'keys' which open the waypoints to further levels.  Player and Enemies have area attack and health levels.  There is a boss battle at the end.</li>
          <li>Created as a team of 4, I worked on enemies, collectables, waypoints, and level 1 design.</li>
        </ul>  
      </div>

      <div class="subHeading">Widget's Space Maze Adventure: Unity3D</div>
      <div class="bulletList">
        <ul>
          <li>The player must navigate the avatar through a 3d maze populated by enemy bunnies.</li>
        </ul>
      </div>

      <div class="subHeading">Us Vs. Them: DirectX/C++</div>
      <div class="bulletList">
        <ul>
          <li>
            Up to 14 players can join via lan network.  Anyone can host a game, or they can join an existing one.  There are 4 levels, 4 player classes, 4 weapon types, 1 enemy type. 
          </li>
          <li>This was made with a team of 25.  I worked on level design, enemy animation sprites, art direction, unit testing, and networking</li>
        </ul>
      </div>
  </center>
  <br />
</div>