<div class="sidebar sidebar__chicklets shaded_light clearfix">
  <!-- email -->
  <a href="mailto:peters.maryanne@gmail.com" target="blank">
    <img class="bordered" src="img/social/email.png"/>
  </a>
  <!-- faceebook -->
  <a href="https://www.facebook.com/maryannecp" target="blank">
    <img class="bordered" src="img/social/facebook.png"/>
  </a>
  <!-- twitter -->
  <a href="https://twitter.com/MaryannePeters" target="blank">
    <img class="bordered" src="img/social/twitter.png"/>
  </a>
  <!-- youtube -->
  <a href="https://www.youtube.com/channel/UCQlg77YNqMjVlyy_ua93mYg" target="blank">
    <img class="bordered" src="img/social/youtube.png"/>
  </a>

  <!-- github -->
  <a href="https://github.com/Macpeters" target="blank">
    <img class="bordered" src="img/social/github.png"/>
  </a>
  <!-- linkedin -->
  <a href="http://ca.linkedin.com/pub/maryanne-peters/38/b9b/56a" target="blank">
    <img class="bordered" src="img/social/linkedin.png"/>
  </a>
  <!-- stackoverflow -->
  <a href="http://stackoverflow.com/users/2111713/macpeters" target="blank">
    <img class="bordered" src="img/social/stackoverflow.jpg"/>
  </a>
  <!-- wordpress -->
  <a href="http://maryannepeters.wordpress.com/" target="blank">
    <img class="bordered" src="img/social/wordpress.png"/>
  </a>

  <!-- artistrising -->
  <a href="http://www.artistrising.com/shop/artist/34568/maryanne-peters.htm" target="blank">
    <img class="bordered" src="img/social/artistRising.png"/>
  </a>
  <!-- behance -->
  <a href="http://www.behance.net/mcpeters" target="blank">
    <img class="bordered" src="img/social/behance.png"/>
  </a>
  <!-- deviantart -->
  <a href="http://macpeters.deviantart.com/" target="blank">
    <img class="bordered" src="img/social/deviantart.png"/>
  </a>
  <!-- nobullart -->
  <a href="http://www.nobullart.com/index.php?L1=gallery&gallery_id=CQ95F5MZL8" target="blank">
    <img class="bordered" src="img/social/noBullArt.png"/>
  </a>
  <!-- pinterest -->
  <a href="http://www.pinterest.com/maryannecp/" target="blank">
    <img class="bordered" src="img/social/pinterest.png"/>
  </a>
  <!-- tumblr -->
  <a href="http://macpeters22.tumblr.com" target="blank">
    <img class="bordered" src="img/social/tumblr.png"/>
  </a>
</div>