<div ng-controller="ProgrammingCtrl">
    <center><iframe width="640" height="480" src="ravemau5.html" frameborder="0" allowfullscreen></iframe></center>
</div>
<br />

<div class="changelog">
  <h6>Updates</h6>
  <p>
    <a href="http://www.hobbygamedev.com/articles/vol-72/developer-interview-maryanne-peters/">Interview with Hobby Game Dev</a>
    <h6>Platforms</h6>
    <ul>
      <li>Web</li>
      <li>Android</li>
      <li>iOS</li>
      <li>Windows</li>
    </ul>
  </p>
  <h6>Disclaimer:</h6> 
  <p>The following are known potential copyright issues I intend to deal with before official release.  Ideally, I would like permission, however it should be noted that all of these references are meant as harmless fun/parodies, and are not intended to steal, plagarize, or otherwise hurt or disrupt the respective intellectual property owners.</p>
  <ul>
    <li>Space Invaders - The stationary shooter weapon is a parody of one of the 8bit monsters</li>
    <li>Ravemau5 - parody of Deadmau5. Actually, I'll probably changing the spelling to Rave Mow Five, because it's funnier.</li>
    <li>Death notification - parody of Deadmau5 logo</li>
    <li>Skrillix glasses and hairdo in title image and 'Skrillix' player character</li>
  </ul>
</div> 

