
<h1><strong>Maryanne Peters</strong></h1>

<center>
  <div class="mainHeading">
    <i class="glyphicon icon-globe" class="glyphs"></i>
    <strong>Highlights</strong></div>
  <br />
  <div class="bulletList">
    <ul class="resumeContent">
      <li>Comfortable with XCode, Sublime Text 2, Visual Studio</li>
      <li>Programming with Ruby on Rails, Javascript, HTML5, Erb, AngularJs, REDIS, Flash Actionscript, SQL, Java, jQuery, C#, C++</li>
      <li>Git, Bash, SSH, Command Line tools</li>
      <li>Agile Development, Creative Problem Solving, Organizational Effectiveness</li>
      <li>Experience developing mobile applications</li>
      <li>Motivated to learn and code constantly</li>
      <li>Up to date on changes to web standards</li>
    </ul> 
  </div>

  <br />

  <div class="mainHeading">
    <i class="glyphicon icon-briefcase" class="glyphs"></i>
    <strong>Work Experience</strong>
  </div>
  <br />
  <ul>
    <li>
      <div class="subHeading">Front End Developer<span class="workName">Lazar Entertainment - April 2013 - Present</span></div>
      <div class="bulletList">
        <ul class="resumeContent">
          <li>HTML5, AngularJs front end with Rails database server, REDIS data storage cluster, Faye event server, Wowza videoserver</li>
          <li>Documenting company code standards, practices</li>
          <li>Participate in daily Hipchat scrums, meetings, discussions, bug/task tracking using Trello, Sprint.ly, Pivotal Tracker</li>
          <li>Unit tests with Rspec, Jasmine/Karma</li>
          <li>Researched various technologies to help decide on methods of approach</li>
          <li>Compiling embeddable interactive Geo-Data Maps using Mapbox, Tilemill and OpenJump,Leaflet.js api</li>
        </ul>
      </div>
    </li>

    <br />
    
    <li>
      <div class="subHeading">Game Developer<span class="workName">Independant - April 2013 - Present</span></div>
      <div class="bulletList">
       <ul>
          <li>Developing cross-platform games using GameMaker Studio, Unity3D, AS3</li>
          <li>Working with a team called Progressive Bytes to develop games and web apps</li>
          <li>Freelance Web/App development</li>
        </ul>
      </div>
    </li>
    <br />
    <li>
      <div class="subHeading">Quality Assurance<span class="workName">Little Guy Games - November 2012 - January 2013</span></div>
      <div class="bulletList">
        <ul class="resumeContent">
          <li>Designed a comprehensive test plan</li>
          <li>Tested games in various states of completion for bugs, inconsistencies, and imbalances</li>
          <li>Logged bugs via Bugzilla</li>
          <li>Kept a crash log which included breakpoints and error codes from XCode</li>
        </ul>
      </div>
    </li>

  <br />

  <div class="mainHeading">
    <i class="glyphicon icon-book" class="glyphs"></i>
    <strong>Education</strong>
  </div>

  <br />
  
  <div class="subHeading">triOS, Video Game Design and Development Diploma Program, Toronto</div>
  <div class="bulletList">
    <ul class="resumeContent">
      <li>Awarded Highest Acedemic Achievement, Perfect Attendance</li>
      <li>Courses Included: 
        <ul>
          <li>Video Game Analysis and Technical Design, Business, Math, and Physics</li>
          <li>Game Prototyping with AS3, HTML5, XNA, Unity3D, C++/DirectX</li>
          <li>Level Design, Game Audio, Modelling With Maya</li>
        </ul>
      </li>
    </ul> 
  </div>

  <br />

</center>
  